
tests/.DS_Store
addons/.DS_Store
.DS_Store
.ipynb_checkpoints/demo-checkpoint.ipynb
.ipynb_checkpoints/enderscope-checkpoint.py
.ipynb_checkpoints/serial_utils-checkpoint.py
__pycache__/enderscope.cpython-39.pyc
__pycache__/serial_utils.cpython-39.pyc
